@font-face {
  font-family: Dinpro-Bold;
  src: url("../img/fonts/DINPro-Bold.otf") format('opentype');
}
@font-face {
  font-family: Dinpro-Medium;
  src: url("../img/fonts/DINPro-Medium.otf") format('opentype');
}
@keyframes btt {
  from {
    opacity: 0;
    transform: translateY(0.725rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes easeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes btn-animation {
  0%, 50% {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes guide {
  from {
    bottom: -0.29rem;
  }
  to {
    bottom: 0.725rem;
  }
}
@keyframes bounce {
  0%, 60%, 100% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(0.362rem);
  }
}
@keyframes create-notification {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
@keyframes notification-toast {
  0% {
    visibility: visible;
    top: -100%;
    transform: scale(0.3);
  }
  to {
    visibility: visible;
    top: 0;
    transform: scale(1);
  }
}
html, body, p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10vw;
}

body {
  background: #101014;
  position: relative;
}

.page {
  width: 10rem;
}

.img {
  width: 100%;
  height: 100%;
  display: block;
}
.img.lazyload {
  opacity: 0;
}

.bold {
  font-family: Dinpro-Bold, PingFangSC-Regular, PingFangTC-Regular, Roboto, sans-serif;
}
.medium {
  font-family: Dinpro-Medium, PingFangSC-Regular, PingFangTC-Regular, Roboto, sans-serif;
}
.page.home {
  height: 8.684rem;
  position: relative;
  overflow: visible;
  background:linear-gradient(180deg,rgba(34,34,36,1) 0%,rgba(16,16,20,1) 100%);
}

.home .logo {
  width: 4.952rem;
  height: 1.872rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  transform-origin: center 0;
}
.logo img {
  animation: btt 1s 1;
  animation-fill-mode: forwards;
}
.home .slogan {
  text-align: center;
  color: #FFF;
  position: absolute;
  font-weight:600;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  transform-origin: center 0;
}
.slogan p {
  opacity: 0;
  font-size: 0.773rem;
  line-height: 1;
}
.slogan p:not(:last-of-type) {
  margin-bottom: 0.725rem;
}
.slogan .btt {
  animation: btt 1s 1 0.5s;
  animation-fill-mode: forwards;
}
.slogan .easeIn {
  animation: easeIn 1s 1 1s;
  animation-fill-mode: forwards;
}

.guide {
  position: fixed;
  width: 0.58rem;
  height: 0.29rem;
  bottom: -0.29rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  animation: guide 1s 1 2s;
  animation-fill-mode: forwards;
}
.guide .img {
  animation: bounce 2s 2s infinite;
}

.btns {
  left: 0.483rem;
  right: 0.483rem;
  overflow: hidden;
  bottom: 2.367rem;
  position: absolute;
}
.btns .btn {
  width: 4.831rem;
  height: 1.087rem;
  line-height: 1.087rem;
  background: #FFF;
  border-radius: 0.145rem;
  float: left;
  font-size: 0.386rem;
  text-align: center;
  opacity: 0;
}
.btn.animate {
  animation: btn-animation 1.5s 1 0.5s;
  animation-fill-mode: forwards;
}
.btn.local {
  background: #FFB11A;
  float: right;
  width: 3.72rem;
  color: #101014;
}
.btn .inner {
  display: inline-block;
  line-height: 1;
  position: relative;
  padding-left: 0.845rem;
}
.img.platform {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.604rem;
  height: 0.713rem;
}

.page.summary {
  position: relative;
  overflow: hidden;
  height: 28.043rem;
  padding-bottom: 1.329rem;
}

.mobiles {
  position: absolute;
  top: 0;
  left: 0;
}
.mobiles .mobile {
  width: 3.659rem;
  height: 7.319rem;
  /*background: aquamarine;*/
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform-origin: 0 0;
}

.text {
  margin: 0 0.725rem;
}
.title {
  font-size: 0.821rem;
  font-weight: 600;
  color: rgba(255,255,255,1);
  line-height: 1.208rem;
}
.gutter {
  height: 0.242rem;
}
.description {
  font-size: 0.386rem;
  font-weight: 400;
  color: rgba(255,255,255,0.4);
  line-height: 0.58rem;
}

.summary .text {
  position: absolute;
  left: 0;
  bottom: 1.329rem;
  /*margin-right: 2.174rem;*/
}
.page.advantages {
  padding-top: 1.932rem;
}
.advantages .title {
  color: #FFB11A;
  line-height: 1;
}
.page.advantage {
  padding-top: 1.932rem;
  padding-bottom: 1.691rem;
}
.page.download {
  height: 100vh;
  position: relative;
}

.lazy {
  opacity: 0;
}
.lazy.show {
  animation: btt 0.8s 1;
  animation-fill-mode: forwards;
}
.page.more {
  padding-top: 1.932rem;
}
.example {
  position: relative;
  overflow: hidden;
  margin: 1.932rem auto 0;
  width: 7.089rem;
  height: 14.155rem;
}
.create {
  position: absolute;
  left: 0.725rem;
  right: 0.725rem;
  top: 1.449rem;
  bottom: 0.483rem;
  overflow: hidden;
}
.create .img {
  position: relative;
}
.create .img.animate {
  animation: create-notification 0.5s 1;
  animation-fill-mode: forwards;
}
.notification-toast {
  position: absolute;
  top: 1.449rem;
  left: 0.966rem;
  right: 0.966rem;
  overflow: hidden;
}
.notification-toast .img {
  visibility: hidden;
  height: auto;
  transform-origin: center center;
  position: relative;
}
.notification-toast .img.animate {
  animation: notification-toast 0.3s 1 1s;
  animation-fill-mode: forwards;
}
.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.sliders {
  margin-top: 1.932rem;
}